{% extends 'base.html' %}

{% block title %} Password Change Successful {% endblock title %}

{% block content %}
    <h1>Password change Successful</h1>
    <p>Your Password was changed.</p>
{% endblock content %}