{% extends 'base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}

    {% for article in object_list %}
        <div class="card mb-4">



            <div class="card-header">
                <span class="font-weight-bold">{{ article.title }}</span> 
                <span class="text-muted"> {{ article.author }} {{ article.date }}</span>
            </div>



            <div class="card-body">
                {{ article.body }}
                <a href="{% url 'article_edit' article.pk %}">Edit</a> |
                <a href="{% url 'article_delete' article.pk %}">Delete</a>
            </div>
            


            <div class="card-footer text-center text-muted">
                {% for comment in article.comments.all %}
                    <p>
                        <span class="font-weight-bold">{{ comment.author }} wrote</span>
                        hejka
                        {{ comment }}
                    </p>
                {% endfor %}
            </div>

        </div>

    {% endfor %}

{% endblock content %}